<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is where you tell people about  <a href="#"><em>Your link </em></a> and another
  <a href="#">Link</a> and
  <a href="#">another link</a>
  and maybe even
  <a href="#">another link</a>.
</p
